{% comment %}
It may be a good idea to provide a theme setting that lets a merchant decide how many products to show per row
on collection pages. Or, it may be a good idea to provide a control on the store front which lets a shopper decide 
whether items be presented in a grid or in a list.
That information about the presentation can be passed on to the product-grid-item.liquid snippet via the 'with' argument.
Use of the 'with' argument is explained here: http://docs.shopify.com/themes/theme-templates/snippets.
The information can then be referred to by accessing the variable which goes by the same name as the snippet,
in this case product-grid-item. If the 'with' argument is not used, the snippet variable is set to an empty string.
Here, for the sake of teaching, we will use 2 presentation options:
- 3 products per row, when passing the value 'col-md-4' to the snippet
- 4 products per row, when passing the value 'col-md-3' to the snippet
{% endcomment %}

{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment %}
{% if product-grid-item == '' %}{% assign product-grid-item = 'col-md-4' %}{% endif %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}


  <div class="col-md-4">
    <div>
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="img-fluid rounded-circle mx-auto d-block" />
      </a>
    </div>
    <div class="prod-caption text-xs-center">
      <h4><a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a></h4>
      <p class="small">
      {% for c in product.collections %}
        {% if c.handle == "felt" %}
          From
        {% endif %}
      {% endfor %}
      {{ product.price_min | money_without_trailing_zeros }}</p>
    </div><!-- .prod-caption -->
    
  </div>