{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment %}
{% if product-grid-item == '' %}{% assign product-grid-item = 'col-md-4' %}{% endif %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}



<div class="col-md-4 offset-md-4">
  <div>
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="img-fluid img-circle mx-auto d-block" />
    </a>
  </div>
  <div class="prod-caption text-xs-center">
    <h4><a href="{{ product.url | within: collection }}">
      {{ product.title }}
    </a></h4>
    <p class="small">{{ product.price_min | money_without_trailing_zeros }}</p>
  </div><!-- .prod-caption -->
  
</div>