{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% unless settings.facebook_url == blank %}
<a href="{{ settings.facebook_url }}" title="<ly-as-2866890>Follow us on Facebook</ly-as-2866890>" target="_blank"><span class="shopify-social-icon-facebook{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.twitter_url == blank %}
<a href="{{ settings.twitter_url }}" title="<ly-as-2866891>Follow us on Twitter</ly-as-2866891>" target="_blank"><span class="shopify-social-icon-twitter{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.pinterest_url == blank %}
<a href="{{ settings.pinterest_url }}" title="<ly-as-2866892>Follow us on Pinterest</ly-as-2866892>" target="_blank"><span class="shopify-social-icon-pinterest{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.googleplus_url == blank %}
<a href="{{ settings.googleplus_url }}" title="<ly-as-2866893>Follow us on Google+</ly-as-2866893>" target="_blank"><span class="shopify-social-icon-googleplus{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.instagram_url == blank %}
<a href="{{ settings.instagram_url }}" title="<ly-as-2866894>Follow us on Instagram</ly-as-2866894>" target="_blank"><span class="shopify-social-icon-instagram{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.linkedin_url == blank %}
<a href="{{ settings.linkedin_url }}" title="<ly-as-2866895>Follow us on linkedin</ly-as-2866895>" target="_blank"><span class="shopify-social-icon-linkedin{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.flickr_url == blank %}
<a href="{{ settings.flickr_url }}" title="<ly-as-2866896>Follow us on Flickr</ly-as-2866896>" target="_blank"><span class="shopify-social-icon-flickr{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.yelp_url == blank %}
<a href="{{ settings.yelp_url }}" title="<ly-as-2866897>Look us up on Yelp</ly-as-2866897>" target="_blank"><span class="shopify-social-icon-yelp{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.vimeo_url == blank %}
<a href="{{ settings.vimeo_url }}" title="<ly-as-2866898>Follow us on Vimeo</ly-as-2866898>" target="_blank"><span class="shopify-social-icon-vimeo{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.youtube_url == blank %}
<a href="{{ settings.youtube_url }}" title="<ly-as-2866899>Follow us on YouTube</ly-as-2866899>" target="_blank"><span class="shopify-social-icon-youtube{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.tumblr_url == blank %}
<a href="{{ settings.tumblr_url }}" title="<ly-as-2866900>Come visit our blog</ly-as-2866900>" target="_blank"><span class="shopify-social-icon-tumblr{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.wordpress_url == blank %}
<a href="{{ settings.wordpress_url }}" title="<ly-as-2866900>Come visit our blog</ly-as-2866900>" target="_blank"><span class="shopify-social-icon-wordpress{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.featured_blog == blank %}
<a href="/blogs/{{ settings.featured_blog }}.atom" title="<ly-as-2866901>Subscribe to our blog</ly-as-2866901>" target="_blank"><span class="shopify-social-icon-feed{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.contact_email == blank %}
<a href="mailto:{{ settings.contact_email }}" title="<ly-as-2866902>Email us</ly-as-2866902>" target="_blank"><span class="shopify-social-icon-email{{ settings.social_icons_style }}"></span></a>
{% endunless %}