<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="title page-title">
      <h4>Shopping Cart</h4>
    </div>
  </div>
</div>
  
{% if cart.item_count > 0 %}

  

<form action="/cart" method="post">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <tbody>
        {% for item in cart.items %}    
          
          {% assign collection_url = item.product.collections.last.url %}
          {% if collection_url == '/collections/frontpage' or collection_url == blank %}
            {% assign collection_url = '/collections/all' %}
          {% endif %}
          
          {% if forloop.first %}
            {% assign continue_shopping_url = collection_url %}
          {% endif %}

          <tr>
            <td class="hide-on-small">
              <a href="{{ collection_url }}{{ item.url }}">
                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" class="img-fluid rounded-circle">
              </a>
            </td>
            <td class="item-title">
              <a href="{{ collection_url }}{{ item.url }}">{{ item.title }}</a>
              {% comment %}
              Line Item Properties
              {% endcomment %}
              {% assign properties_amount = item.properties | size %}
              {% if properties_amount > 0 %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                    <br />
                  {% endunless %}
                {% endfor %}
              </p>
              {% endif %}
            </td>
            <!-- td class="hide-on-small">{{ item.price | money }}</td -->
            <td class="item-quantity">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
            </td>
            <td class="item-price">{{ item.line_price | money }}</td>
            <td class="hide-on-small remove">
              <a href="/cart/change?line={{ forloop.index }}&quantity=0" title="remove" alt="remove">&#10005;</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- /.col-md-8.offset-md-2 -->
  </div> <!-- /.row -->
  
  <div class="row cart-total">
    <div class="col-md-8 offset-md-2">
      <h6>Subtotal</h6>
      <h3>{{ cart.total_price | money_with_currency }}</h3>
    </div>
  </div>
  <div class="row cart-actions">
    <div class="col-md-8 offset-md-2 text-xs-center">
        <input type="submit" name="update" value="Update cart" class="btn btn-secondary btn-lg">
        <input type="submit" name="checkout" value="Check out" class="btn btn-secondary btn-lg btn-checkout">  
    </div>
  </div>
</form>

</div>
</div>

{% else %}
 
<div class="row page-content">
  <div class="col-md-6 offset-md-3">
    <h6>It appears that your cart is currently empty!</h6>
    <p>You can continue browsing <a href="{{ shop.url }}" title="shop home">here</a>.</p>
  </div>
</div>

{% endif %}