{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="title page-title">
      <h4><ly-as-2866931>Shopping Cart</ly-as-2866931></h4>
    </div>
  </div>
</div>
  
{% if cart.item_count > 0 %}

  

<form action="/cart{% comment %}ly_checkout_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" method="post">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <tbody>
        {% for item in cart.items %}    
          
          {% assign collection_url = item.product.collections.last.url %}
          {% if collection_url == '/collections/frontpage' or collection_url == blank %}
            {% assign collection_url = '/collections/all' %}
          {% endif %}
          
          {% if forloop.first %}
            {% assign continue_shopping_url = collection_url %}
          {% endif %}

          <tr>
            <td class="hide-on-small">
              <a href="{{ collection_url }}{{ item.url }}">
                <img src="{{ item | img_url: 'compact' }}"  alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" class="img-fluid rounded-circle">
              </a>
            </td>
            <td class="item-title">
              <a href="{{ collection_url }}{{ item.url }}">{% comment %}ly_code_replace_for_[ item.title ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              {% comment %}
              Line Item Properties
              {% endcomment %}
              {% assign properties_amount = item.properties | size %}
              {% if properties_amount > 0 %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                    <br />
                  {% endunless %}
                {% endfor %}
              </p>
              {% endif %}
            </td>
            <!-- td class="hide-on-small">{{ item.price | money }}</td -->
            <td class="item-quantity">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
            </td>
            <td class="item-price">{{ item.line_price | money }}</td>
            <td class="hide-on-small remove">
              <a href="/cart/change?line={{ forloop.index }}&quantity=0" title="<ly-as-2866938>remove</ly-as-2866938>" alt="remove">&#10005;</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- /.col-md-8.offset-md-2 -->
  </div> <!-- /.row -->
  
  <div class="row cart-total">
    <div class="col-md-8 offset-md-2">
      <h5><ly-as-2866932>Subtotal</ly-as-2866932></h5>
      {% comment %}{ cart.total_price | money_with_currency }} {% endcomment %}
      <h3>{{ cart.total_price | money }}</h3>
    </div>
  </div>

  {% comment %}
  For the special instructions to be submitted with order,
  we need to use a name attribute set to 'note'.
  {% endcomment %}
  <div class="row cart-note">
    <div class="col-md-8 offset-md-2">
      <h6>Special instructions for seller</h6>
      <textarea name="note">{{ cart.note }}</textarea>
    </div>
  </div>

  <div class="row cart-actions">
    <div class="col-md-8 offset-md-2 text-xs-center">
        <input type="submit" name="update" value="<ly-as-2866936>Update cart</ly-as-2866936>" class="btn btn-secondary btn-lg">
        <input type="submit" name="checkout" value="<ly-as-2866937>Check out</ly-as-2866937>" class="btn btn-secondary btn-lg btn-checkout">  
    </div>
  </div>


</form>

</div>
</div>

{% else %}
 
<div class="row page-content">
  <div class="col-md-6 offset-md-3">
    <h6><ly-as-2866933>It appears that your cart is currently empty!</ly-as-2866933></h6>
    <p><ly-as-2866934>You can continue browsing</ly-as-2866934> <a href="{{ shop.url }}" title="<ly-as-2866939>shop home</ly-as-2866939>"><ly-as-2866935>here</ly-as-2866935></a>.</p>
  </div>
</div>

{% endif %}