{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="title">
			<h4>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
		</div>
    </div>
</div>

<div class="row page-content">
	<div class="col-md-6 offset-md-3">
	  {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      {% form 'contact' %}

  {% if form.posted_successfully? %}
    <div class="successForm feedback">
      {{ 'contact.form.post_success' | t }}
    </div>
  {% endif %}

  {% if form.errors %}
  <div class="errorForm feedback">
    <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
    <p><ly-as-2866963>Your contact form has</ly-as-2866963> {{ form.errors | size | pluralize: "<ly-as-2866964>an error</ly-as-2866964>", "<ly-as-2866965>a few errors</ly-as-2866965>" }}<ly-as-2866966>. To submit your form, make the following changes and try again:</ly-as-2866966></p>
    {% for field in form.errors %}
      <p><ly-as-2866967>The</ly-as-2866967> {{ field | capitalize | replace: '<ly-as-2866968>Body</ly-as-2866968>', '<ly-as-2866969>Message</ly-as-2866969>' }} <ly-as-2866970>field</ly-as-2866970> {{ form.errors.messages[field] }}.</p>
    {% endfor %}
  </div>
  {% endif %}

  <div id="contactFormWrapper">
    <p>
      <label>{{ 'contact.form.name' | t }}</label>
      <input type="text" required id="contactFormName" name="contact[name]">
    </p>
    <p>
      <label>{{ 'contact.form.email' | t }}</label>
      <input type="email" required id="contactFormEmail" name="contact[email]">
    </p>
    <p>
      <label>{{ 'contact.form.phone' | t }}</label>
      <input type="telephone" id="contactFormTelephone" name="contact[phone]">
    </p>
    <p>
      <label>{{ 'contact.form.message' | t }}</label>
      <textarea required rows="10" id="contactFormMessage" name="contact[body]"></textarea>
    </p>
    <p>
      <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" />
    </p>
  </div>

  {% endform %}

  <style>
  .contact-form {margin:1em 0}
  .feedback {padding:0.5em 0.7em;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px}
  .feedback p {padding:0.5em 0 !important;margin:0 !important}
  .successForm {background:#bde0a8;color:green}
  .errorForm {background:#eebdbd;color:red}
  </style>
	</div>
</div>